<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品検索画面</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <div th:replace="fragmentC::headerC"></div>
  <div>
    <h1> 購入履歴一覧 </h1>
    
    <table  th:if="${orders.getContent().size()>0}" border="1" style="margin: 0 auto;border-collapse: collapse;width: 60%;">
      <tr>
        <th>注文ID</th>
        <th>注文日時</th>
        <th>合計金額</th>
        <th>詳細</th>
      </tr>
      <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td
            th:text="${#dates.format(order.orderDate, 'yyyy年MM月dd日(EEE)ahh時mm分ss秒') }">
        </td>
        <td th:text="${#numbers.formatInteger(order.amountTotal, 3, 'COMMA')} + '円'"></td>
        <td>
          <form
              th:action="@{/customer/history/detail}"
              method="post">
              <input type="hidden" name="orderId" th:value="${order.orderId}">
              <button type="submit" class="btn btn-warning">詳細</button>
          </form>
        </td>       
      </tr>
    </table>

    <p th:if="${orders.getContent().size()==0}" style="text-align:center;">該当する商品情報がありません</p>

    <ul th:if="${orders.getTotalPages()>1}" class="pagination">
      <!-- 最初のページの場合はリンクを非活性化にし2ページ目以降はリンクを有効にする -->
      <li th:class="${orders.first} ? 'disabled':''" style="display: inline">
        <span th:if="${orders.first}">最初</span>
        <a th:if="${not orders.first}" th:href="@{__${pageUrl}__page=0}">最初</a>
      </li>
      <!-- 最初のページの場合はリンクを非活性化にし2ページ目以降はリンクを有効にする -->
      <li th:class="${orders.first} ? 'disabled':''" style="display: inline">
        <span th:if="${orders.first}">前へ</span>
        <a th:if="${not orders.first}" th:href="@{__${pageUrl}__page=__${prev}__}">前へ</a>
      </li>
      <!-- ページ毎のリンクを表示 現在のページの場合はリンクを非活性化にし現在のページ以外はリンクを有効にする-->
      <li 
        th:each="i : ${#numbers.sequence(0, orders.totalPages-1)}"
        th:class="(${i}==${orders.number})? 'active' : ''"
        style="display: inline">
        <span th:if="${i}==${orders.number}" th:text="${i+1}">1</span>
        <a th:if="${i}!=${orders.number}" th:href="@{__${pageUrl}__page=__${i+1}__}">
        <span th:text="${i+1}">1</span></a>
      </li>
      <!-- 最後のページの場合はリンクを非活性化にし最後のページ目以外はリンクを有効にする -->
      <li th:class="${orders.last} ? 'disabled':''" style="display: inline">
        <span th:if="${orders.last}">次へ</span>
        <a th:if="${not orders.last}" th:href="@{__${pageUrl}__page=__${next}__}">次へ</a>
      </li>
      <!-- 最後のページの場合はリンクを非活性化にし最後のページ目以外はリンクを有効にする -->
      <li th:class="${orders.last} ? 'disabled':''" style="display: inline">
        <span th:if="${orders.last}">最後</span>
        <a th:if="${not orders.last}" th:href="@{__${pageUrl}__page=__${orders.totalPages}__}">最後</a>
      </li>
    </ul>
  </div>
  <div th:replace="fragmentC::footerC"></div>
</body>
</html>