div{
    text-align: center;
}

.error{
    color:red;
}

#header{
    width:100%;
    top:0;
    text-align:center;
    border-bottom:2px solid black;
    padding-bottom: 10px;
}

#footer{
    width:100%;
    bottom:0;
    text-align:center;
    border-top:2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-size {
    width: 100px;
}

#headerC{
    width:100%;
    top:0;
    padding-bottom: 10px;
}

#footerC{
    width:100%;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footerC li::before{
    content: ">> "
}

#footerC li{
    text-align: left;
}