<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>システムエラー画面</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">


</head>
<body>
    <div sec:authorize="hasRole('ADMIN')">
        <div th:replace="fragment::header"></div>

        <h1 style="text-align: center;">システムエラー</h1>
            
        <div>エラーが発生しました。システム管理者に連絡してください。</div>
        
        <div th:replace="fragment::footer"></div>
    </div>
    <div sec:authorize="hasRole('CUSTOMER')">
        <div th:replace="fragmentC::headerC"></div>

        <h1 style="text-align: center;">システムエラー</h1>
        
        <div style="width:50%;background-color: #ee5151;margin: 0px auto;border-radius: 5px;">エラーが発生しました。システム管理者に連絡してください。</div>
        
        <div th:replace="fragmentC::footerC"></div>
    </div>
</body>
</html>