<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フラグメントパーツ</title>
    
</head>

<body>
    <div th:fragment="header" id="header">
        <h3>文具/雑貨販売システム</h3>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{'/logoutEmployee'}" method="post">
                <a href="#">商品情報メンテナンス</a>
                <a href="#">商品カテゴリ登録</a>
                <a href="#">購入履歴検索</a>
                <a href="#">アカウント登録</a>
                <input type="submit" value="ログアウト">
            </form>
        </div>
        <div th:if="${not #authorization.expression('isAuthenticated()')}">
            <a href="/loginEmployee">ログイン</a>
        </div>
    </div>

    <div th:fragment="footer" id="footer">
        Fullness Stationary社
    </div>
</body>
</html>