<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録（完了）画面</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="fragment::header"></div>
    <div>
        <h1>アカウント登録（完了）</h1>
        <div th:inline="text">[[${employeeName}]]さんのアカウントを[[${employeeAccountName}]]で作成しました。</div>
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align:center;">
                    <form th:action="@{/logoutEmployee}" method="post">
                        <input type="submit" value="業務終了">
                    </form>
                </td>
               
                <td style="text-align:center;">
                    <form th:action="@{input}" method="get">
                        <input type="submit" value="入力に戻る">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragment::footer"></div>
</body>
</html>